---
layout: archive
permalink: /categories/social/
title: "社会与人生"
excerpt: "运用充分社交感知人与人与自然关系，迸发思想与行为"
author_profile: true
---

{% capture written_year %}'None'{% endcapture %}
{% for post in site.categories.social %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
